# Preserve upstream article snapshot bytes for license and provenance checks.
input/snapshots/*.html -whitespace

format-input/*.html -whitespace
grounded-input/snapshots/*.html -whitespace
grounded-input/model-card.md -whitespace
